<div class="row my-3" *ngIf="!id">
    <div class="form-group mb-2">
        <label class="">ID:</label>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" #txtId (keyup.enter)="searchEmployeeById(txtId.value)">
      </div>
      <button type="button" class="btn btn-primary mb-2" (click)="searchEmployeeById(txtId.value)">Buscar</button>
</div>

<div class="row my-3" *ngIf="id">
    <h3>Editar empleado con ID: <small>{{ id }}</small></h3>
</div>

<app-form *ngIf="employee" [employee]="employee"></app-form>