<div class="row my-3" *ngIf="!id" >
  <div class="form-group mb-2">
    <label class="">ID:</label>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" #txtId (keyup.enter)="searchEmployeeById(txtId.value)">
  </div>
  <!---->
 <button type="button" class="btn btn-primary mb-2" (click)="searchEmployeeById(txtId.value)">Buscar</button>
</div>

<div class="row my-3" *ngIf="id">
    <h3>Perfil del empleado con ID: <small>{{ id }}</small></h3>
</div>

<table *ngIf="employee" class="table">
    <tbody>
      <tr>
        <td>Nombre</td>
        <td><strong>{{ employee?.firstName }}</strong> </td>
      </tr>

      <tr *ngIf="employee.lastName">
        <td>Apellido</td>
        <td><strong>{{ employee.lastName }}</strong></td>
      </tr>

      <tr>
        <td>Fecha Ingreso</td>
        <td><strong>{{ employee.hireDate | date:"dd/MM/yyyy" }}</strong></td>
      </tr>

      <tr>
        <td>email</td>
        <td><strong>{{ employee.email }}</strong></td>
      </tr>

      <tr>
        <td>Región</td>
        <td><strong>{{ employee.region.name }}</strong></td>
      </tr>

      <tr>
        <td>Salario</td>
        <td><strong>{{ employee.salary }}</strong></td>
      </tr>

      <tr>
        <td>Comisión</td>
        <td><strong>{{ employee.commissionPCT }}</strong></td>
      </tr>

      <tr>
        <td>Departamento</td>
        <td><strong>{{ employee.department.name }}</strong></td>
      </tr>
   
    </tbody>
  </table>
  <button type="button" class="btn btn-outline btn-primary btn-block" 
  (click)="getVacationPerception()" [disabled]="!employee">
    Calcular pago vacacional
  </button>
  
